@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Default CSS */
html {
    background: linear-gradient(135deg, #191D25, #0d121a);
    animation: gradient 30s ease infinite;
    scroll-behavior: smooth;
}
body {
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.snowflake {
    color: #fff;
    font-size: 1em;
    font-family: Arial, sans-serif;
    text-shadow: 0 0 5px #000;
}

.snowflake,.snowflake .inner{animation-iteration-count:infinite;animation-play-state:running}@keyframes snowflakes-fall{0%{transform:translateY(0)}100%{transform:translateY(110vh)}}@keyframes snowflakes-shake{0%,100%{transform:translateX(0)}50%{transform:translateX(80px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;user-select:none;cursor:default;animation-name:snowflakes-shake;animation-duration:3s;animation-timing-function:ease-in-out}.snowflake .inner{animation-duration:10s;animation-name:snowflakes-fall;animation-timing-function:linear}.snowflake:nth-of-type(0){left:1%;animation-delay:0s}.snowflake:nth-of-type(0) .inner{animation-delay:0s}.snowflake:first-of-type{left:10%;animation-delay:1s}.snowflake:first-of-type .inner,.snowflake:nth-of-type(8) .inner{animation-delay:1s}.snowflake:nth-of-type(2){left:20%;animation-delay:.5s}.snowflake:nth-of-type(2) .inner,.snowflake:nth-of-type(6) .inner{animation-delay:6s}.snowflake:nth-of-type(3){left:30%;animation-delay:2s}.snowflake:nth-of-type(11) .inner,.snowflake:nth-of-type(3) .inner{animation-delay:4s}.snowflake:nth-of-type(4){left:40%;animation-delay:2s}.snowflake:nth-of-type(10) .inner,.snowflake:nth-of-type(4) .inner{animation-delay:2s}.snowflake:nth-of-type(5){left:50%;animation-delay:3s}.snowflake:nth-of-type(5) .inner{animation-delay:8s}.snowflake:nth-of-type(6){left:60%;animation-delay:2s}.snowflake:nth-of-type(7){left:70%;animation-delay:1s}.snowflake:nth-of-type(7) .inner{animation-delay:2.5s}.snowflake:nth-of-type(8){left:80%;animation-delay:0s}.snowflake:nth-of-type(9){left:90%;animation-delay:1.5s}.snowflake:nth-of-type(9) .inner{animation-delay:3s}.snowflake:nth-of-type(10){left:25%;animation-delay:0s}.snowflake:nth-of-type(11){left:65%;animation-delay:2.5s}
/* Navbar */
nav {
    background-color: rgba(15, 14, 16, 0.25);
    padding: 1rem 2rem;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    align-items: center;
}
.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.nav-links li {
    margin: 0 1rem;
}
.nav-links a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 200;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease, transform 0.3s ease;
}
.nav-links a svg {
    margin-right: 0.5rem;
    transition: transform 0.3s ease;
}
.nav-links a:hover {
    transform: scale(1.1);
}
.nav-links a:hover svg {
    transition: transform 0.7s ease;
    transform: rotateZ(15deg) scale(1.2);
}
.nav-links a:active {
    transform: scale(1.1);
}
/* Hamburger Menu */
.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-left: auto;
}
.hamburger-menu span {
    height: 3px;
    width: 25px;
    background: #FFFFFF;
    margin: 4px 0;
    transition: transform 0.4s ease, opacity 0.4s ease;
}
/* Checkbox for toggling */
.menu-toggle {
    display: none;
}
/* Animation for the hamburger menu */
.menu-toggle:checked + .hamburger-menu span:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
}
.menu-toggle:checked + .hamburger-menu span:nth-child(2) {
    opacity: 0;
}
.menu-toggle:checked + .hamburger-menu span:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
}
/* Header */
.header-section {
    margin-top: 9cm;
    margin-left: 11.3cm;
    display: flex;
    padding-right: 10cm;
    flex-direction: column;
    align-items: flex-start;
}
.animated-text {
    opacity: 0;
    transform: translateY(-50px);
    animation: slideDown 1s ease-out forwards;
    animation-delay: 0.5s;
    font-size: 2.5rem;
    margin: 0;
}
@keyframes slideDown {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.typing-animation {
    opacity: 0;
    transform: translateY(-50px);
    animation: slideDown 1s ease-out forwards;
    animation-delay: 1.5s;
    font-size: 1.5rem;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
}
/* GitHub Button */
.header-button {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 200;
    border: 2px solid #FFFFFF;
    border-radius: 20px;
    transition: color 0.3s ease, transform 0.3s ease;
    opacity: 0;
    transform: translateY(50px);
    animation: slideUp 1s ease-out forwards;
    animation-delay: 2.5s;
}
.header-button svg {
    margin-right: 0.5rem;
    transition: transform 0.3s ease;
}
.header-button:hover {
    transform: scale(1.1);
    background-color: #303642;
    transition: color 0.3s ease, transform 0.3s ease;
}
.header-button:hover svg {
    transition: transform 0.7s ease;
    transform: rotateZ(15deg) scale(1.2);
}
.header-button:active {
    transform: scale(1.1);
}
@keyframes slideUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* About Section */
.about-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 9cm;
    margin-left: 11.3cm;
    padding-right: 10cm;
}
.about-text {
    font-size: 1.5rem;
    font-weight: 200;
    margin: 0;
}
.section-title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.section-subtitle {
    margin-top: 2rem;
    font-size: 1rem;
    font-weight: 700;
}
.about-bold:hover {
    color: #648ad7;
    font-weight: 700;
    cursor: pointer;
    transition: color 0.3s ease, font-weight 0.3s ease;
}
/* Project Cards */
.projects-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}
.section-subtitle {
    font-size: 1.2rem;
    font-weight: 200;
    margin: 0;
}
.project-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.project-card {
    position: relative;
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    --mouse-x: 50%;
    --mouse-y: 50%;
    margin-top: 2rem;
}
.project-link {
    position: relative;
    z-index: 2;
    display: block;
    margin-top: 0.5rem;
    color: #648ad7;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}
.project-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
.project-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.2), transparent);
    opacity: 0;
    transition: opacity 0.3s ease;
    transform: translate(calc(var(--mouse-x) - 50%), calc(var(--mouse-y) - 50%));
    z-index: 1;
}
.project-card:hover::before {
    opacity: 1;
}

.project-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.project-content {
    padding: 1rem;
}

.project-title {
    font-size: 1.5rem;
    margin: 0;
}

.project-description {
    font-size: 1rem;
    color: #ccc;
}
.project-link {
    display: block;
    margin-top: 0.5rem;
    color: #648ad7;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.project-link:hover {
    color: #ffffff;
}

.project-date {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    color: #ccc;
    font-size: 0.9rem;
}

.project-date svg {
    margin-right: 0.5rem;
}
/* Contact Section */
.contact-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 9cm;
    margin-left: 11.3cm;
    padding-right: 10cm;
    margin-bottom: 5cm;
}
.contact-text {
    font-size: 1.5rem;
    font-weight: 200;
    margin: 0;
}
.email-link {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 700;
    padding: 0.3rem 0.3rem;
    transition: color 0.3s ease, transform 0.3s ease;
}
.email-link:hover {
    color: #648ad7;
    transform: scale(1.1);
    transition: color 0.3s ease, transform 0.3s ease;
}
.contact-bold {
    font-weight: 700;
    transition: color 0.3s ease, font-weight 0.3s ease;
}
.contact-bold:hover {
    color: #648ad7;
    font-weight: 700;
    cursor: pointer;
    transition: color 0.3s ease, font-weight 0.3s ease;
}
/* Footer */
footer {
    margin-top: auto;
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 1rem;
}
.footer-text {
    font-size: 1rem;
    font-weight: 200;
    color: #FFFFFF;
}
.footer-image {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
}
/* Media Queries */
@media (max-width: 1400px) {
    .header-section, .about-section, .contact-section {
        margin-left: 5cm;
        padding-right: 5cm;
    }
    .animated-text {
        font-size: 2rem;
    }
    .typing-animation {
        font-size: 1.2rem;
    }
    .header-button {
        font-size: 1rem;
    }
    .about-text, .contact-text {
        font-size: 1.2rem;
    }
    .section-title {
        font-size: 1.5rem;
    }
    .section-subtitle {
        font-size: 0.9rem;
    }
    .footer-text {
        font-size: 0.9rem;
    }
    /* Snowflakes */
    .snowflake {
        font-size: 0.8em;
    }
    /* Project Cards */
    .project-card {
        width: 200px;
    }
}
@media (max-width: 853px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
    .nav-links li {
        margin: 1rem 0;
    }
    .nav-links.active {
        display: flex;
    }
    .hamburger-menu {
        display: flex;
    }
    /* Hamburger Menu Animation */
    .menu-toggle:checked ~ .nav-links {
        display: flex;
    }
    .header-section, .about-section, .contact-section {
        margin-left: 2cm;
        padding-right: 2cm;
    }
    .animated-text {
        font-size: 1.5rem;
    }
    .typing-animation {
        font-size: 1rem;
    }
    .header-button {
        font-size: 0.9rem;
    }
    .about-text, .contact-text {
        font-size: 1rem;
    }
    .section-title {
        font-size: 1.2rem;
    }
    .section-subtitle {
        font-size: 0.8rem;
    }
    .footer-text {
        font-size: 0.8rem;
    }
    /* Snowflakes */
    .snowflake {
        font-size: 0.7em;
    }
    /* Project Cards */
    .project-card {
        width: 150px;
    }
}
@media (max-width: 480px) {
    .header-section, .about-section, .contact-section {
        margin-left: 1cm;
        padding-right: 1cm;
    }
    .animated-text {
        font-size: 1.2rem;
    }
    .typing-animation {
        font-size: 0.8rem;
    }
    .header-button {
        font-size: 0.8rem;
    }
    .about-text, .contact-text {
        font-size: 0.8rem;
    }
    .section-title {
        font-size: 1rem;
    }
    .section-subtitle {
        font-size: 0.7rem;
    }
    .footer-text {
        font-size: 0.7rem;
    }
    /* Snowflakes */
    .snowflake {
        font-size: 0.6em;
    }
    /* Project Cards */
    .project-card {
        width: 120px;
    }
}
@media (max-width: 395px) {
    .header-section, .about-section, .contact-section {
        margin-left: 0.5cm;
        padding-right: 0.5cm;
    }
    .animated-text {
        font-size: 1rem;
    }
    .typing-animation {
        font-size: 0.7rem;
    }
    .header-button {
        font-size: 0.7rem;
    }
    .about-text, .contact-text {
        font-size: 0.7rem;
    }
    .section-title {
        font-size: 0.9rem;
    }
    .section-subtitle {
        font-size: 0.6rem;
    }
    .footer-text {
        font-size: 0.6rem;
    }
    /* Snowflakes */
    .snowflake {
        font-size: 0.5em;
    }
    /* Project Cards */
    .project-card {
        width: 100%;
    }
}
@media (max-width: 360px) {
    .header-section, .about-section, .contact-section {
        margin-left: 0.2cm;
        padding-right: 0.2cm;
    }
    .animated-text {
        font-size: 0.8rem;
    }
    .typing-animation {
        font-size: 0.5rem;
    }
    .header-button {
        font-size: 0.5rem;
    }
    .about-text, .contact-text {
        font-size: 0.5rem;
    }
    .section-title {
        font-size: 0.7rem;
    }
    .section-subtitle {
        font-size: 0.4rem;
    }
    .footer-text {
        font-size: 0.4rem;
    }
    /* Snowflakes */
    .snowflake {
        font-size: 0.4em;
    }
    /* Project Cards */
    .project-card {
        width: 100%;
    }
}