@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Default CSS */
html {
    background: linear-gradient( #130F40, #000000);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
body {
    color: #CECFDF;
    font-family: "Poppins", sans-serif;
}
.logo{
    font-weight: bold;
    font-size: 20px;
    margin: 30px 30px;
    color: #FDFDFD;
}
li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}
li span {
    display: block;
    font-size: 2rem;
    color: #FDFDFD;
    font-weight: bold;
}
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    margin: 20px;
    text-shadow: 2px 2px 4px #000000;
}

.logo-container {
    flex: 1;
    text-align: left;
}

.nav-links-container {
    flex: 6;
    display: flex;
    justify-content: center;
}

.email-links {
    flex: 1;
    text-align: right;
    font-weight: bold;
    color: #CECFDF;
    text-decoration: none;
}
.email-links:hover {
    color: #FDFDFD;
    transition: color 0.5s ease;
}
.nav-links-container a {
    color: #FDFDFD;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    padding: 14px 20px;
    margin: 20px 5px;
    transition: color 0.5s ease;
    position: relative;
}
.nav-links-container a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: #FDFDFD;
    font-weight: normal;
    transform: translateX(50%);
    transition: all 0.5s ease-in-out;
}

.nav-links-container a:hover {
    color: #FDFDFD;
    font-weight: bolder;
    transition: all 0.1s ease-in-out;
}

.nav-links-container a:hover::before {
    width: 50%;
    transform: translateX(50%);
}

footer {
    width: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 0.84);
    font-size: 11px;
    padding-top: 25px;
    padding-bottom: 3px;
    border-top: 1px solid #3572ce;
    position: fixed;
    bottom: 0;
}
.footer {
    padding: 0;
    color: #3572ce;
}
footer p {
    margin: 0;
    padding: 0;
}
/* Hamburger Menu Styles */
.hamburger-menu {
    display: none;
    text-align: left;
    margin-left: 10px;
    font-size: 30px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.84);
    transition: transform 0.3s ease;
}

.hamburger-menu.active {
    transform: rotate(90deg);
}
/* Home Page Styles */
.home-content  {
    padding: 10px 0;
    flex-direction: column;
}

.name{
    font-size: 40px;
    margin-top: 4cm;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    color: #fdfdfd;
}
.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.home-text {
    text-align: center;
    color: rgba(255, 255, 255, 0.84);
    animation:
            typewriter 5s steps(50) 1s 1 normal both,
            blinkingCursor 500ms steps(50) infinite normal;
}
.cursor{
    position: relative;
    text-shadow: 2px 2px 4px #000000;
    width: 15em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 20px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 3cm;
    transform: translateY(-50%);
}
@keyframes typewriter {
    from { width: 0; }
    to { width: 100%; }
}
@keyframes blinkingCursor{
    from { border-right-color: rgba(255,255,255,.75); }
    to { border-right-color: transparent; }
}
/* Mobile Styles */
@media (max-width: 768px) {
    .logo {
        display: none;
    }
    .cursor {
        font-size: 14px;
    }
    .home-text {
        text-align: center;
        color: rgba(255, 255, 255, 0.84);
        animation:
                typewriter 5s steps(50) 1s 1 normal both,
                blinkingCursor 500ms steps(50) infinite normal;
    }
    @keyframes typewriter {
        from { width: 0; }
        to { width: 85%; }
    }
    .hamburger-menu {
        display: flex;
        flex: 1;
        text-align: left; /* Aligns the hamburger menu to the left */
        margin-left: 10px; /* Adds some margin to the left */
        font-size: 30px;
        cursor: pointer;
        color: rgba(255, 255, 255, 0.84);
        transition: transform 0.3s ease;
    }

    .nav-links-container {
        display: none;
        flex-direction: column;
        align-items: center;
        transition: max-height 0.3s ease;
        max-height: 0;
        overflow: hidden;
    }

    .nav-links-container.show {
        display: flex;
        max-height: 500px;
    }

    .nav-links-container a {
        display: block;
        margin: 10px 0;
    }

    .nav-links-container.show {
        display: flex;
    }

    .email-links {
        display: none;
    }
}