@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Default CSS */
html {
    height: auto;
    background: linear-gradient(to bottom,
    rgba(0, 0, 0, 0.4) 100vh,
    #191D25 6cm),
    url('images/background.svg') no-repeat top/cover;
}
body {
    /*color: #B0AFC7;*/
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
nav {
    background-color: rgba(25, 29, 37, 0.48); /* Semi-transparent background */
    backdrop-filter: blur(10px); /* Blur effect */
    padding: 1rem 2rem;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 1rem;
}

.nav-links a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 200;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease, transform 0.3s ease;
}

.nav-links a svg {
    margin-right: 0.5rem;
    transition: transform 0.3s ease;
}

.nav-links a:hover {
    transform: scale(1.1);

}

.nav-links a:hover svg {
    transition: transform 0.7s ease;
    transform: rotateZ(15deg) scale(1.2);
}
.nav-links a:active {
    transform: scale(1.1);
}

@keyframes slideDown {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}