@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Default CSS */
html {
    background: linear-gradient(#E5E6E4, #ECECEB, #F2F3F2, #F9F9F8, #FFFFFF);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}
body {
    color: #161416;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
h1{
    margin-top: 200px;
    justify-content: center;
    display: flex;
    font-size: 3rem;
    font-weight: 700;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin: 0;
}
p {
    font-size: 1.5rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
    margin: 0;

}
b {
    font-weight: 700;
    justify-content: center;
    display: flex;

}
/* Keyframes */
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
nav {
    background-color: rgba(51, 51, 51, 0.5); /* Semi-transparent background */
    backdrop-filter: blur(10px); /* Blur effect */
    padding: 1rem 2rem;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 1rem;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 200;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease, transform 0.3s ease;
}

.nav-links a svg {
    margin-right: 0.5rem;
    transition: transform 0.3s ease;
}

.nav-links a:hover {
    color: #1f4eb5;
    transform: scale(1.1);

}

.nav-links a:hover svg {
    transform: rotateZ(15deg) scale(1.2);
}
.nav-links a:active {
    color: #1f4eb5;
    transform: scale(1.1);
}

