.progress-container {
    width: 20%;
    height: 10px;
    background-color: #f3f3f3;
    margin: 25px auto;
    position: relative;
    border-radius: 50px;
}
.progress-bar1 {
    height: 100%;
    background-color: #e06623;
    animation: load 2s ease-out forwards, progress 2s 2s ease-out forwards;
    border-radius: 50px;
}

.progress-bar2 {
    height: 100%;
    background-color: #e0c723;
    animation: load 2s ease-out forwards, progress 2s 2s ease-out forwards;
    border-radius: 50px;
}

.progress-bar3 {
    height: 100%;
    background-color: #8b23e0;
    animation: load 2s ease-out forwards, progress 2s 2s ease-out forwards;
    border-radius: 50px;
}
.progress-bar4 {
    height: 100%;
    background-color: #2382e0;
    animation: load 2s ease-out forwards, progress 2s 2s ease-out forwards;
    border-radius: 50px;
}
.progress-bar5 {
    height: 100%;
    background-color: #a1e023;
    animation: load 2s ease-out forwards, progress 2s 2s ease-out forwards;
    border-radius: 50px;
}